<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>    
</head>
<body>

<h1>List</h1>

<ul id="todo_list">
    {{range . }}
        <li id="{{ .ID }}">
            {{ .ID }} - {{ .Task }} - 
            <a href="#" class="status_update" 
                id="li_{{ .ID }}" 
                data-status="{{ .Status}}"
                data-id="{{ .ID}}">
                {{ .Status }}
            </a>
        </li>
    {{ end }}
</ul>

<form id="add_todo_form" method="post" action="/add_form">
    <input type="text" name="task" placeholder="add task" required>
    <button type="submit">[+]</button>
</form>

<script type="text/javascript">
    const $form = document.getElementById("add_todo_form");
    const $list = document.getElementById("todo_list");
    const $el = document.querySelectorAll(".status_update");
   
    const render = (data) => {
        console.log(data); 
        
        let li = document.createElement("li");
        li.appendChild(document.createTextNode(`${data.ID} - ${data.Task} - ${data.Status}`));
        li.setAttribute("id", `${data.ID}`);
        
        $list.appendChild(li);
    }

    $form.addEventListener("submit", function (e) {
        e.preventDefault();
        
        let url = this.action;
        let data = new FormData(this);

        console.log(data);

        fetch(url, {
            method: 'POST',
            body: data, /* JSON.stringify(Object.fromEntries(data)) */           
        })
        .then(response => response.json())
        .then(json => render(json))
        .catch(error => console.error(error));

        return false;
    });

    Array.from($el).forEach(link => {
        link.addEventListener("click", function (e) {
            e.preventDefault();
            console.log(e.target.id);

            let $id = parseInt(e.target.getAttribute('data-id'));
            let $status = e.target.getAttribute('data-status') == 'false';

            fetch('/status_update', {
                method: 'POST',
                body: JSON.stringify({id:$id, status:$status}),            
            })
            .then(response => response.json())
            .then(json => { console.log(json) })
            .catch(error => console.error(error));

            return false;
        });
    });
</script>
</body>
</html>