<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>    
</head>
<body>

<h1>List</h1>

<ul id="todo_list">
    {{range . }}
        <li id="{{ .ID }}" data-status="{{ .Status}}" data-id="{{ .ID}}">
            {{ .ID }} - {{ .Task }} - 
            <a href="#" class="status_update">{{ .Status }}</a>
            <a href="#" class="delete">&times;</a>
        </li>
    {{ end }}
</ul>

<form id="add_todo_form" method="post" action="/add_form">
    <input type="text" name="task" placeholder="add task" required>
    <button type="submit">[+]</button>
</form>

<script type="text/javascript">
    const $form = document.getElementById("add_todo_form");
    const $list = document.getElementById("todo_list");
    const $el = document.querySelectorAll(".status_update");
    const $el_delete = document.querySelectorAll(".delete");
   
    const render = (data) => {
        console.log(data); 

        let a_link_up = document.createElement("a");
        a_link_up.innerHTML = `${data.Status}`;
        a_link_up.setAttribute("class", "status_update");
        a_link_up.setAttribute("href", "#");
        addEvent(a_link_up);
        
        let a_link_del = document.createElement("a");
        a_link_del.innerHTML = "&times;";
        a_link_del.setAttribute("class", "delete");
        a_link_del.setAttribute("href", "#");
        deleteEvent(a_link_del);
        
        let li = document.createElement("li");
        li.innerHTML = `${data.ID} - ${data.Task} - `;
        li.setAttribute("id", `${data.ID}`);
        li.setAttribute("data-status", `${data.Status}`);
        li.setAttribute("data-id", `${data.ID}`);
        li.appendChild(a_link_up);
        li.appendChild(a_link_del);
        
        $list.appendChild(li);
    }

    $form.addEventListener("submit", function (e) {
        e.preventDefault();
        
        let url = this.action;
        let data = new FormData(this);

        console.log(data);

        fetch(url, {
            method: 'POST',
            body: data, /* JSON.stringify(Object.fromEntries(data)) */           
        })
        .then(response => response.json())
        .then(json => render(json))
        .catch(error => console.error(error));

        return false;
    });

    Array.from($el).forEach(link => addEvent(link));

    function addEvent(link) {
        link.addEventListener("click", function (e) {
            e.preventDefault();
            let $ep = e.target.parentElement;
            
            console.log($ep);
            console.log($ep.getAttribute('data-id'));

            let $id = parseInt($ep.getAttribute('data-id'));
            let $status = $ep.getAttribute('data-status') == 'false';

            fetch('/status_update', {
                method: 'POST',
                body: JSON.stringify({id:$id, status:$status}),            
            })
            .then(response => response.json())
            .then(json => { 
                console.log(json); 
                $ep.setAttribute('data-status', json.status);
                e.target.textContent = json.status; 
            })
            .catch(error => console.error(error));

            return false;
        });
    }

    Array.from($el_delete).forEach(link => deleteEvent(link));

    function deleteEvent(link) {
        link.addEventListener("click", function (e) {
            e.preventDefault();
            let $ep = e.target.parentElement;
            
            console.log($ep);
            console.log($ep.getAttribute('data-id'));

            let $id = parseInt($ep.getAttribute('data-id'));
            let $status = $ep.getAttribute('data-status') == 'false';

            fetch('/detele', {
                method: 'POST',
                body: JSON.stringify({id:$id, status:$status}),            
            })
            .then(response => response.json())
            .then(json => { 
                console.log(json);
                $ep.remove();
            })
            .catch(error => console.error(error));

            return false;
        });
    }
    
</script>
</body>
</html>